aeidon==1.10.1
alabaster==0.7.12
anytree==2.8.0
appdirs==1.4.4
apsw==3.36.0.post1
apt-xapian-index==0.49
apturl==0.5.2
argon2-cffi==21.1.0
attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
blinker==1.4
brial==1.0.2
Brlapi==0.8.3
Brotli==1.0.9
bsddb3==6.2.9
catfish==4.16.3
cclib==1.6.2
certifi==2020.6.20
chardet==4.0.0
chrome-gnome-shell==0.0.0
click==8.0.3
colorama==0.4.4
command-not-found==0.3
constantly==15.1.0
cryptography==3.4.8
css-parser==1.0.7
cssselect==1.1.0
cssutils==1.0.2
cupshelpers==1.0
cycler==0.11.0
cypari2==2.1.2
Cython==0.29.28
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
deluge==2.0.3
diff-match-patch==20200713
distlib==0.3.4
distro==1.7.0
distro-info==1.1
dnspython==2.1.0
docutils==0.17.1
dpt-rp1-py==0.1.16
duplicity==0.8.21
entrypoints==0.4
enview @ file:///home/chivier/Projects/enview
evdev==1.4.0
fasteners==0.14.1
feedparser==5.2.1
filelock==3.6.0
fonttools==4.29.1
fpylll==0.5.2.dev0
fs==2.4.12
fusepy==3.0.1
future==0.18.2
fuzzywuzzy==0.18.0
GeoIP==1.3.2
Glances==3.2.4.2
gmpy2==2.1.2
gpg===1.16.0-unknown
gramps==5.1.5
greenlet==1.1.2
html2text==2020.1.16
html5-parser==0.4.10
html5lib==1.1
httplib2==0.20.2
httpsig==1.3.0
hyperlink==21.0.0
idna==3.3
ifaddr==0.1.7
imagesize==1.3.0
importlib-metadata==4.6.4
incremental==21.3.0
iniparse==0.4
input-remapper==1.4.0
ipykernel==6.7.0
ipython==7.31.1
ipython_genutils==0.2.0
ipywidgets==6.0.0
jedi==0.18.0
jeepney==0.7.1
jellyfish==0.9.0
Jinja2==3.0.3
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
keymapper==0.2
keyring==23.5.0
kiwisolver==1.3.2
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libevdev==0.5
libtorrent===2.0.5-build-libtorrent-rasterbar-qrM5vM-libtorrent-rasterbar-2.0.5-bindings-python
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mechanize==0.4.7
meld==3.20.4
memory-allocator==0.1.2
meson==0.61.2
monotonic==1.6
more-itertools==8.10.0
mpmath==0.0.0
msgpack==1.0.3
mutagen==1.45.1
mypy-extensions==0.4.3
nbclient==0.5.6
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.4
netifaces==0.11.0
networkx==2.4
notebook==6.4.8
numpy==1.21.5
oauthlib==3.2.0
olefile==0.46
packaging==21.3
pandocfilters==1.5.0
paramiko==2.8.1
parso==0.8.1
pathspec==0.9.0
pbkdf2==1.3
pexpect==4.8.0
phply==1.2.5
pickleshare==0.7.5
Pillow==9.0.1
pkgconfig==1.5.5
platformdirs==2.4.1
pluggy==0.13.0
ply==3.11
pplpy==0.8.7
prettytable==3.0.0
primecountpy==0.1.0
prometheus-client==0.9.0
prompt-toolkit==3.0.26
protobuf==3.12.4
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
py7zr==0.11.3+dfsg
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.20.1
pychm==0.8.6
pycountry==20.7.3
pycryptodome==3.14.1
pycryptodomex==3.11.0
pycups==2.0.1
pydbus==0.6.0
pyenchant==3.2.0
pygame==1.9.6
Pygments==2.11.2
PyGObject==3.42.0
PyHamcrest==2.0.2
PyICU==2.8.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pynvim==0.4.2
pyOpenSSL==21.0.0
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-sip==12.9.1
PyQtWebEngine==5.15.5
pyRFC3339==1.1
pyrsistent==0.18.1
python-apt==2.3.0+ubuntu1
python-dateutil==2.8.1
python-debian===0.1.43ubuntu1
python-Levenshtein==0.12.2
python-nubia==0.2b5
pytz==2021.3
pyudev==0.22.0
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.3.0
readchar==3.0.5
regex==2021.11.10
rencode==1.0.6
reportlab==3.6.8
repoze.lru==0.7
requests==2.25.1
requests-toolbelt==0.9.1
roman==3.3
Routes==2.5.1
rpy2==3.4.5
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
sagemath-standard==9.5
sagenb-export==3.2
scipy==1.7.1
scour==0.38.2
SecretStorage==3.3.1
Send2Trash==1.8.1b0
service-identity==18.1.0
setproctitle==1.2.2
simplejson==3.17.6
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.1
Sphinx==4.3.2
ssh-import-id==5.11
sympy==1.7.1
systemd-python==234
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
texttable==1.6.4
toml==0.10.2
tomli==1.2.3
tornado==6.1
tox==3.21.4
tqdm==4.63.0
traitlets==5.1.1
translate-toolkit==3.4.1
Twisted==22.1.0
typing-inspect==0.7.1
typing_extensions==4.0.1
tzlocal==2.1
ubuntu-advantage-tools==27.6
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
usb-creator==0.3.7
vboxapi==1.0
virtualenv==20.13.0+ds
vobject==0.9.6.1
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.6
websockets==9.1
widgetsnbextension==2.0.0
xdg==5
xdot==1.2
xkit==0.0.0
Yapps2==2.2.1
yt-dlp==2022.3.8.1
zeroconf==0.38.3
zipp==1.0.0
zope.interface==5.4.0
